Data cleaning initial testing

In [1]:
import numpy as np
import pandas as pd


df = pd.read_csv(r'..\data\National_Cemetery_Administration_Gravesite_Locator_VA_dataset.csv', nrows=100)

#view the first 10 rows
df.head(10)

,decedent_id,First Name of Deceased,Middle Name of Deceased,Last Name of Deceased,Suffix of Deceased,Birth Date of Deceased,Death Date of Deceased,Section ID,Row,Site Number,...,Relationship to Veteran,First Name of Related Veteran,Middle Name of Related Veteran,Last Name of Related Veteran,Suffix of Related Veteran,Military Branch,Military Rank,War(s) Served,Location Point,last_update_date
0,5411358,Billy,R,Steele,NaN,01/22/1932,02/17/2022,NaN,NaN,NaN,...,Veteran (Self),Billy,R,Steele,NaN,US AIR FORCE,MSGT,"KOREA, VIETNAM",POINT (-81.26162 35.27018),06/08/2022
1,5415625,Alan,Norman,Maurer,NaN,08/13/1949,05/10/2022,NaN,NaN,NaN,...,Veteran (Self),Alan,Norman,Maurer,NaN,US NAVY,AE2,VIETNAM,POINT (-96.332704 43.437499),06/21/2022
2,5239132,Calvin,NaN,Davidson,NaN,08/07/1927,09/03/2014,NaN,NaN,NaN,...,Veteran (Self),Calvin,NaN,Davidson,NaN,US AIR FORCE,NaN,KOREA,NaN,05/03/2021
3,5361698,Colvin,Edmond,Byrd,NaN,08/16/1938,01/24/2022,NaN,NaN,NaN,...,Veteran (Self),Colvin,Edmond,Byrd,NaN,US ARMY,SP4,NaN,POINT (-79.71096 35.62384),02/13/2022
4,5253284,David,C,Allen,NaN,08/30/1948,03/05/2021,NaN,NaN,NaN,...,Veteran (Self),David,C,Allen,NaN,US ARMY,SP4,VIETNAM,NaN,06/06/2021
5,5410638,Daniel,NaN,Matrisciani,NaN,05/04/1946,04/18/2022,NaN,NaN,NaN,...,Veteran (Self),Daniel,NaN,Matrisciani,NaN,US ARMY,SP4,VIETNAM,NaN,06/07/2022
6,5354527,Edward,William,Soliday,NaN,06/02/1931,10/31/2021,NaN,NaN,NaN,...,Veteran (Self),Edward,William,Soliday,NaN,US ARMY,CPL,KOREA,NaN,01/27/2022
7,5416573,Eugene,W,Foster,NaN,03/25/1943,05/25/2022,NaN,NaN,NaN,...,Veteran (Self),Eugene,W,Foster,NaN,US NAVY,SN,VIETNAM,POINT (-87.98477 33.58656),06/23/2022
8,5423440,Edwin,NaN,Goeser,NaN,07/13/1926,05/22/2022,NaN,NaN,NaN,...,Veteran (Self),Edwin,NaN,Goeser,NaN,US ARMY,CPL,KOREA,NaN,07/11/2022
9,5409822,Gerald,J,Garrow,Sr,08/30/1933,01/29/2022,NaN,NaN,NaN,...,Veteran (Self),Gerald,J,Garrow,Sr,US ARMY,NaN,KOREA,NaN,06/06/2022

In [8]:
#had datatype issues with exploring specific zip code data

print(df.dtypes)

decedent_id                        int64
First Name of Deceased            object
Middle Name of Deceased           object
Last Name of Deceased             object
Suffix of Deceased                object
Birth Date of Deceased            object
Death Date of Deceased            object
Section ID                        object
Row                               object
Site Number                       object
Name of Cemetery                  object
Cemetery Address 1                object
Cemetery Address 2                object
Cemetery City                     object
Cemetery State                    object
Cemetery ZIP                       int64
Cemetery URL                      object
Cemetery Phone Number             object
Relationship to Veteran           object
First Name of Related Veteran     object
Middle Name of Related Veteran    object
Last Name of Related Veteran      object
Suffix of Related Veteran         object
Military Branch                   object
Military Rank                     object
War(s) Served                     object
Location Point                    object
last_update_date                  object
dtype: object

In [9]:
#checking based on first 10 rows zips (28016	51242	40972	27205	46229	11232	62025	35574	58352	5701)

specific_zips_check = [28016,51242,40972,27205,46229,11232,62025,35574]
zip_counts_check = df['Cemetery ZIP'].value_counts()
filtered_counts_check = zip_counts_check[zip_counts_check.index.isin(specific_zips_check)]
total_count_check = filtered_counts_check.sum()
print(filtered_counts_check)
print("Total count for specified zip codes: ",total_count_check)

Cemetery ZIP
28016    1
51242    1
35574    1
62025    1
11232    1
46229    1
27205    1
40972    1
Name: count, dtype: int64
Total count for specified zip codes:  8

In [10]:

#Checking the datatype for the entire csv and NOT just the first 100

df_entire = pd.read_csv(r'..\data\National_Cemetery_Administration_Gravesite_Locator_VA_dataset.csv', low_memory=False)

print(df_entire['Cemetery ZIP'].dtype)

object

In [11]:
unique_types_15 = df_entire.iloc[:, 15].apply(type).unique()
unique_types_16 = df_entire.iloc[:, 16].apply(type).unique()

print(f"Unique types in column 15: {unique_types_15}")
print(f"Unique types in column 16: {unique_types_16}")

Unique types in column 15: [<class 'str'> <class 'float'>]
Unique types in column 16: [<class 'float'> <class 'str'>]

In [15]:
column_name = "Cemetery ZIP"
column_number = df_entire.columns.get_loc(column_name)

print(f"The column number for '{column_name}' is: {column_number}")

The column number for 'Cemetery ZIP' is: 15

In [16]:
print(df_entire['Cemetery ZIP'].describe())

count     8416720
unique      35175
top       11735.0
freq       326424
Name: Cemetery ZIP, dtype: object

In [17]:
unique_values = df_entire['Cemetery ZIP'].unique()
print(unique_values[:50])  # Print the first 50 unique values to avoid overwhelming output.

['28016' '51242' '40972' '27205' '46229' '11232' '62025' '35574' '58352'
 '05701' '61701' '73438' '12603' '60162' '56401' '72106' '42328' '67070'
 '01778' '50643' '73139' '35750' '55371' '00736' '62075' '13676' '64024'
 '79311' '83655' '52245' '46356' '75160' '19701' '49655' '02809' '14534'
 '39059' '32091' '46902' '50265' '50072' '28217' '38930' '50548' '14530'
 '02458' '97086' '70460' '92518' '53182']

In [18]:
unique_types = df_entire['Cemetery ZIP'].apply(type).unique()
print(unique_types)

[<class 'str'> <class 'float'>]

In [19]:
nan_count = df_entire['Cemetery ZIP'].isna().sum()
print(f"Number of NaN values in Cemetery ZIP: {nan_count}")

Number of NaN values in Cemetery ZIP: 6444

In [23]:
#ensure non-NAN values are strings

df_entire['Cemetery ZIP'] = df_entire['Cemetery ZIP'].apply(lambda x: str(x) if pd.notna(x) else x)

df_entire['Cemetery ZIP'].sample(10)  # Displays a random sample of 10 ZIP codes

703429       45651
6800404      74434
940302       97439
3329057    85024.0
3428140    45428.0
813413       37166
3506837    61299.0
5267124      75211
2259312      36456
4123287    29501.0
Name: Cemetery ZIP, dtype: object

In [27]:
inconsistent_zip = df_entire[df_entire['Cemetery ZIP'].astype(str).str.match('^\d{5}$') == False]
inconsistent_zip.T

,216,232,263,268,331,332,422,522,528,577,...,8423152,8423153,8423154,8423156,8423157,8423158,8423160,8423161,8423162,8423163
decedent_id,5406855,4245216,5382974,5387949,5177538,5239357,5337814,5335381,5187226,5164906,...,3519293,3452092,3350965,3275838,3069198,3218973,3228008,5021298,3552463,5029936
First Name of Deceased,Alta,Charles,Dorothy,Edward,James,James,John,Robert,Rolland,Thomas,...,Inez,William,Frank,Frank,Irvin,Donald,Infant,Howard,Henry,Thomas
Middle Name of Deceased,Sue,James,J,G,Ben,C,R,NaN,E,A,...,Ann,O,E,NaN,P,Edward,Son,Edward,Joseph,J
Last Name of Deceased,Grover,Whitehead,Hall,Collins,Loney,Matthews,Donohoo,Taylor,Sluss,Butler,...,Arias,Wheatley,Rebarchik,Thompson,McGuire,Erwin,Gilman,Conway,Newby,Grady
Suffix of Deceased,NaN,NaN,NaN,Jr,NaN,Jr,NaN,NaN,NaN,NaN,...,NaN,III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birth Date of Deceased,07/28/1951,02/09/1940,02/05/1940,02/24/1954,02/11/1934,12/12/1946,04/05/1920,03/19/1933,08/20/1933,02/16/1937,...,10/28/1919,07/30/1921,04/18/1949,10/22/1897,04/17/1921,01/01/1929,01/10/1980,09/26/1923,08/17/1927,12/27/1960
Death Date of Deceased,07/11/2021,03/21/2014,02/03/2016,04/14/2021,11/20/2020,04/18/2021,03/08/1998,06/15/2021,12/02/2020,06/17/2019,...,05/29/1993,07/10/1974,03/09/1994,11/04/1993,11/25/1993,10/02/1968,01/10/1980,04/18/1985,02/17/1946,01/15/1994
Section ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,X,F,15,43,1C,MA,33,20,F,KK
Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Site Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1985,693,385,955,1693,28,186,2422,1809,190C
Name of Cemetery,PARKER CEMETERY,RIDGELAWN CEMETERY,MAPLE HILL CEMETERY,CASTLEBAR NEW CEMETERY,GREENWOOD CEMETERY,ST MARY CEMETERY,CONFIDENCE CEMETERY,CONFIDENCE CEMETERY,UNION CEMETERY,FOXHILL CEMETERY,...,GOLDEN GATE NATIONAL CEMETERY,HOUSTON NATIONAL CEMETERY,FT. GIBSON NATIONAL CEMETERY,NATIONAL MEMORIAL CEMETERY OF ARIZONA,JEFFERSON BARRACKS NATIONAL CEMETERY,BARRANCAS NATIONAL CEMETERY,BARRANCAS NATIONAL CEMETERY,RIVERSIDE NATIONAL CEMETERY,BEVERLY NATIONAL CEMETERY,JEFFERSON BARRACKS NATIONAL CEMETERY
Cemetery Address 1,NaN,NaN,NaN,NaN,NaN,3500 HWY 1,NaN,NaN,NaN,NaN,...,1300 SNEATH LANE,10410 VETERANS MEMORIAL DRIVE,1423 CEMETERY ROAD,23029 NORTH CAVE CREEK ROAD,2900 SHERIDAN ROAD,"NAVAL AIR STATION, 1 CEMETERY ROAD","NAVAL AIR STATION, 1 CEMETERY ROAD",22495 VAN BUREN BOULEVARD,916 BRIDGEBORO ROAD,2900 SHERIDAN ROAD
Cemetery Address 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BALLYHAUNIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRIDGEBORO ROAD,NaN
Cemetery City,NaN,NaN,NaN,CO MAYO,NaN,NaN,NaN,NaN,NaN,CO MAYO,...,SAN BRUNO,HOUSTON,FORT GIBSON,PHOENIX,ST. LOUIS,PENSACOLA,PENSACOLA,RIVERSIDE,BEVERLY,ST. LOUIS
Cemetery State,NaN,NaN,NaN,DU,NaN,NaN,NaN,NaN,NaN,DU,...,CA,TX,OK,AZ,MO,FL,FL,CA,NJ,MO
Cemetery ZIP,NaN,NaN,NaN,16,NaN,NaN,NaN,NaN,NaN,16,...,94066.0,77038.0,74434.0,85024.0,63125.0,32508.0,32508.0,92518.0,8010.0,63125.0
Cemetery URL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,http://www.cem.va.gov/CEM/cems/nchp/goldengate...,http://www.cem.va.gov/CEM/cems/nchp/houston.asp,http://www.cem.va.gov/CEM/cems/nchp/ftgibson.asp,http://www.cem.va.gov/cems/nchp/nmca.asp,http://www.cem.va.gov/CEM/cems/nchp/jeffersonb...,http://www.cem.va.gov/CEM/cems/nchp/barrancas.asp,http://www.cem.va.gov/CEM/cems/nchp/barrancas.asp,http://www.cem.va.gov/CEM/cems/nchp/riverside.asp,http://www.cem.va.gov/CEM/cems/nchp/beverly.asp,http://www.cem.va.gov/CEM/cems/nchp/jeffersonb...
Cemetery Phone Number,NaN,NaN,218-362-5960,NaN,NaN,985-816-6636,937-378-6384,937-378-6384,330-875-9751,NaN,...,650-589-7737,281-447-8686,918-478-2334,480-513-3600,314-845-8320,850-453-4108,850-453-4108,951-653-8417,215-504-5610,314-845-8320
Relationship to Veteran,Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),...,Wife,Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Son (Minor Child),Veteran (Self),Veteran (Self),Adult Dependent Son
First Name of Related Veteran,Alta,Charles,Dorothy,Edward,James,James,John,Robert,Rolland,Thomas,...,Tony,William,Frank,Frank,Irvin,Donald,Timothy,Howard,Henry,Raymond
Middle Name of Related Veteran,Sue,James,J,G,Ben,C,R,NaN,E,A,...,A,O,E,NaN,P,Edward,R,Edward,Joseph,L
Last Name of Related Veteran,Grover,Whitehead,Hall,Collins,Loney,Matthews,Donohoo,Taylor,Sluss,Butler,...,Arias,Wheatley,Rubarchik,Thompson,McGuire,Erwin,Gilman,Conway,Newby,Grady
Suffix of Related Veteran,NaN,NaN,NaN,Jr,NaN,Jr,NaN,NaN,NaN,NaN,...,NaN,III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Military Branch,US MARINE CORPS,US NAVY,US AIR FORCE,US NAVY,US ARMY,US ARMY,US ARMY,US ARMY,US ARMY,US COAST GUARD,...,US MARINE CORPS,US COAST GUARD,US AIR FORCE,US NAVY,US MARINE CORPS,US NAVY,US NAVY,US MARINE CORPS,US NAVY,US ARMY
Military Rank,CPL,NaN,NaN,NaN,SP4,NaN,T SGT,PFC,PFC,LCDR,...,PVT,BOSN1,MSGT,F1,CPL,CDR,AD1,PFC,S2,S SGT
War(s) Served,NaN,NaN,NaN,VIETNAM,NaN,NaN,WORLD WAR II,KOREA,KOREA,NaN,...,WORLD WAR II,WORLD WAR II,VIETNAM,WORLD WAR I,WORLD WAR II,VIETNAM,PERSIAN GULF,WORLD WAR II,WORLD WAR II,WORLD WAR II
Location Point,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,POINT (-122.42998 37.63289),POINT (-95.4524 29.92777),POINT (-95.22957 35.80578),POINT (-112.02775 33.69642),POINT (-90.28835 38.50174),POINT (-87.28648 30.35236),POINT (-87.28648 30.35236),POINT (-117.27996 33.88791),POINT (-74.92115 40.05408),POINT (-90.28835 38.50174)
last_update_date,05/29/2022,09/21/2021,03/31/2022,04/17/2022,12/01/2020,05/03/2021,12/20/2021,12/16/2021,04/28/2021,11/01/2020,...,10/16/2001,07/10/2001,11/02/2000,06/09/2000,05/18/1999,03/01/2000,03/16/2000,04/18/1996,01/10/2002,11/20/1996

In [28]:
inconsistent_value_counts = inconsistent_zip['Cemetery ZIP'].value_counts()
print(inconsistent_value_counts)

Cemetery ZIP
11735.0    326424
11933.0    180948
55450.0    165741
92518.0    154559
63125.0    154448
            ...
2203            1
158PH           1
2019            1
E7J 1Z2         1
P0H 2H0         1
Name: count, Length: 1159, dtype: int64

In [29]:
#inconsistent ZIP CODE to csv in the data folder
inconsistent_zip.to_csv('../data/inconsistent_data.csv', index=False)

CLEANING the ZIP CODE column

In [30]:
#NaN values to 99999

df_entire['Cemetery ZIP'].fillna('99999', inplace=True)

In [31]:
# convert all values to strings

df_entire['Cemetery ZIP'] = df_entire['Cemetery ZIP'].astype(str)

In [33]:
#remove ".0" from the end

df_entire['Cemetery ZIP'] = df_entire['Cemetery ZIP'].astype(str).str.replace('\.0$', '', regex=True)

df_entire['Cemetery ZIP'].sample(20)  # Displays a random sample of 50 ZIP codes

4402052    66027
4640092    15017
2023373    31791
5334057    72701
2385305    18940
8067292    55450
485977     38401
4497930    90049
5223307    92518
5616881    92106
2272484    24901
170646     52101
7901536    63125
3883086      961
5722862    66027
4191202    38122
3737589    61266
4536393    94066
4902669    19701
7457679    21228
Name: Cemetery ZIP, dtype: object

In [34]:
#append 'X' character to the end of short US Zip Codes with standard 5-digit length (possibly Australia)

def pad_zip(zip_code):
    if len(zip_code) < 5 and zip_code.isdigit():
        return zip_code + 'X' * (5 - len(zip_code))
    return zip_code

df_entire['Cemetery ZIP'] = df_entire['Cemetery ZIP'].apply(pad_zip)

In [36]:
#reverting the 'X' due to posisble Autstralia Zip Codes

def revert_padded_zip(zip_code):
    # If zip_code ends with 'X', revert the padding.
    while zip_code.endswith('X'):
        zip_code = zip_code[:-1]
    return zip_code

df_entire['Cemetery ZIP'] = df_entire['Cemetery ZIP'].apply(revert_padded_zip)